# Node.js
/node_modules/
/frontend/node_modules/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# Testing
/coverage/

# Production
/build/
/frontend/build/
/dist/
/frontend/dist/

# Miscellaneous
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
.pnp
.pnp.js

# Python
*.pyc
__pycache__/
*.log
*.pot
media/
*.env
.venv
env/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
__pycache__/
media/

# Docker
# *.env (comment out this line or ensure it does not exclude Dockerfile)

# Node.js cache
audio-participation-frontend/node_modules/.cache/

